// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "ColorMap.d";

[guiType="GuiRow"] > .Panel {
  display: table !important; // stylelint-disable-line declaration-no-important
  width: 100%;
  height: 100%;
}

.Panel {
  position: relative;
  top: 0;
  left: 0;

  a > .Hidden {
    cursor: pointer;

    float: left;
    overflow: hidden;

    border: 1px solid ColorMap.$IO_OIDIS_RED;

    font-weight: normal;
    color: ColorMap.$IO_OIDIS_RED;
  }

  .Async {
    position: relative;
    top: 0;
    left: 0;

    .Icons {
      float: left;
    }

    .Label {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

[guiType="Panel"] {
  > .Envelop {
    overflow: hidden;

    > .Content {
      position: relative;
      top: 0;
      left: 0;

      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
