// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "sass:math";

@mixin setOpacity($value) {
  $value1: 0;
  $value100: 0;

  @if $value >= 0 {
    @if $value <= 100 {
      $value: math.abs($value);

      @if $value < 1 {
        @if $value > 0 {
          $value1: $value;
          $value100: $value * 100;
        }
      } @else {
        $value1: math.div($value, 100);
        $value100: $value;
      }
    } @else {
      $value1: 1;
      $value100: 100;
    }
  }
  /* stylelint-disable property-no-vendor-prefix */
  -khtml-opacity: $value1;
  -moz-opacity: $value1;
  opacity: $value1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value100})";
  filter: alpha(opacity=$value100);
  /* stylelint-enable */
}

@mixin setLinearGradient($from, $to) {
  /* stylelint-disable value-no-vendor-prefix */
  background: $from;
  background: -webkit-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
  /* stylelint-enable */
}

@mixin addBlink() {
  @keyframes BlinkAnimation {
    to {
      opacity: 0;
    }
  }

  & {
    animation: BlinkAnimation 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  }
}
