// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "ColorMap.d";
@use "GraphicsMap.d";
@use "ColorFunctions.d";

.DeveloperCorner {
  .Distance {
    position: relative;
    min-height: 40px;
  }

  .Envelop {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;

    width: 100%;
    border-bottom: 3px solid ColorMap.$IO_OIDIS_BLUE;

    background-color: ColorMap.$IO_OIDIS_WHITE;

    .Content {
      margin: 0;
      padding: 5px 0 0;
    }
  }

  .Cached {
    border-bottom: 3px solid ColorMap.$IO_OIDIS_GREEN;
  }

  .Links {
    text-align: center;
  }

  .Info {
    clear: both;
    padding-bottom: 5px;
    font-style: italic;

    .Viewer {
      position: relative;
      top: 6px;

      float: left;

      padding-left: 30px;

      font-size: 12px;
    }

    .Process {
      float: right;
      padding-right: 30px;
      text-align: right;
    }
  }

  .Echo {
    clear: both;
    overflow: auto;
    padding: 15px;
    font-family: Consolas, serif;
  }

  .Debug {
    display: none;
    border-top: 3px solid ColorMap.$IO_OIDIS_BLUE;
    background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;

    .Link {
      float: left;
      clear: both;

      padding-top: 15px;
      padding-left: 15px;

      color: ColorMap.$IO_OIDIS_BLUE;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ViewHtmlCode .Line {
    padding-left: 15px;
  }

  .ContextMenu {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;

    float: left;
    display: none;

    min-width: 100px;
    min-height: 20px;
    padding: 10px;
    border: 1px solid ColorMap.$IO_OIDIS_BLUE;

    background-color: ColorMap.$IO_OIDIS_WHITE;

    .Link,
    .Link a {
      cursor: pointer;
      clear: both;
      font-size: 13px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .WuiBuilder {
    .Background,
    .Progress {
      position: fixed;
      z-index: 10010;
      top: 0;
      left: 0;

      display: none;

      background-color: ColorMap.$IO_OIDIS_BLACK;
    }

    .Background {
      @include ColorFunctions.setOpacity(50);
      width: 100%;
      height: 1000px;
    }

    .Progress {
      float: left;
      padding: 10px;
      color: ColorMap.$IO_OIDIS_WHITE;
    }
  }

  .WuiDesigner {
    .Background {
      position: absolute;
      z-index: -1000;
      top: 0;
      left: 0;

      width: 100%;
      height: 768px;

      background: GraphicsMap.$IO_OIDIS_GUI_CROSS_BACKGROUND repeat;
    }
  }
}

.WuiViewerTestRunnerProgress {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  padding: 15px;

  font-size: 19px;
  font-weight: bold;
  color: ColorMap.$IO_OIDIS_GREEN;
  text-align: center;
  letter-spacing: 3px;

  background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
}
