// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "ColorMap.d";
@use "GraphicsMap.d";
@use "ColorFunctions.d";

@font-face {
  font-family: "Oxygen"; // stylelint-disable-line font-family-name-quotes
  font-weight: normal;
  font-style: normal;
  src: url("../../../../libs/FontOxygen/Oxygen-Regular.eot");
  src: url("../../../../libs/FontOxygen/Oxygen-Regular.eot?#iefix") format("embedded-opentype"),
  url("../../../../libs/FontOxygen/Oxygen-Regular.woff") format("woff"), // stylelint-disable-line @stylistic/indentation
  url("../../../../libs/FontOxygen/Oxygen-Regular.ttf") format("truetype"), // stylelint-disable-line @stylistic/indentation
  url("../../../../libs/FontOxygen/Oxygen-Regular.svg#oxygenregular") format("svg"); // stylelint-disable-line @stylistic/indentation
}

body {
  width: 100%;
  border: 0 solid ColorMap.$IO_OIDIS_WHITE;
  font-family: "Oxygen", sans-serif; // stylelint-disable-line font-family-name-quotes
  color: ColorMap.$IO_OIDIS_BLACK;
}

h1,
h2 {
  color: ColorMap.$IO_OIDIS_GRAY_DARK;
}

h3 {
  color: ColorMap.$IO_OIDIS_GRAY;
}

a {
  color: ColorMap.$IO_OIDIS_BLUE;
}

textarea {
  resize: none;
  overflow: scroll;
}

input,
textarea {
  font-family: "Oxygen", sans-serif; // stylelint-disable-line font-family-name-quotes
  outline: none;
}

iframe {
  display: none;
}

br {
  clear: both;
}

[guiType="PageContent"] {
  overflow: inherit;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;

  .Spinner {
    width: 300px;
    height: 30px;
    margin: auto;
    padding: 20px;

    .Icon {
      width: 128px;
      height: 15px;
      background: GraphicsMap.$IO_OIDIS_GUI_SPINNER no-repeat;
    }

    .Text {
      position: relative;
      top: 8px;
      left: -10px;

      clear: both;

      color: ColorMap.$IO_OIDIS_GRAY;
    }
  }
}

.Note {
  width: 800px;
  margin-left: 20px;
  border-left: 1px solid ColorMap.$IO_OIDIS_GRAY;
  color: ColorMap.$IO_OIDIS_GRAY;
}

.GuiInterface .Index {
  overflow: auto;
  padding: 10px;
  background-color: ColorMap.$IO_OIDIS_BLUE_LIGHT;
}

.Exception {
  width: 800px;
  margin: auto;

  .Message {
    overflow: hidden;
    padding: 20px;
    border: 1px solid ColorMap.$IO_OIDIS_BLACK;
  }

  .Echo .Text {
    font-family: Consolas, serif;
  }
}

.Disable {
  cursor: default;
}

.GuiSelector {
  @include ColorFunctions.setOpacity(0);
  cursor: none;

  position: fixed;
  z-index: -100;
  top: -10px;
  left: -10px;

  display: block;

  width: 1px;
  height: 1px;
  border: 0 solid ColorMap.$IO_OIDIS_BLACK;

  color: transparent;

  background-color: transparent;
}

.AbstractGuiObject {
  float: left;
  clear: both;
}

.CacheLoaderProgressBar {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;

  width: 0;
  height: 3px;

  background-color: ColorMap.$IO_OIDIS_RED;
}

.GuiFixedHolder {
  position: fixed;
  width: 0;
  height: 0;
  border: 0 solid ColorMap.$IO_OIDIS_BLACK;
}

[guiType="GuiWrapper"] {
  position: relative;
  top: 0;
  left: 0;
}

[guiType="GuiCol"] {
  display: table-cell;

  width: 0;

  font-size: 0;
  line-height: 0;
  vertical-align: top;

  > [guiType="GuiWrapper"] {
    display: inline-block;
    font-size: initial;
    line-height: initial;
    text-align: initial;

    &.FitToParentFull {
      width: 105%;
    }

    &.FitToParentHorizontal {
      width: 105%;
    }

    &.FitToParentVertical {
      width: 105%;
    }
  }
}

[guiType="GuiRow"] {
  display: table;
  table-layout: fixed;

  width: 100%;
  height: 0;

  vertical-align: top;

  &:empty {
    display: block;
  }
}

.AlignTop {
  text-align: center;
  vertical-align: top;
}

.AlignTopRight {
  text-align: right;
  vertical-align: top;
}

.AlignRight {
  text-align: right;
  vertical-align: middle;
}

.AlignBottomRight {
  text-align: right;
  vertical-align: bottom;
}

.AlignBottom {
  text-align: center;
  vertical-align: bottom;
}

.AlignBottomLeft {
  text-align: left;
  vertical-align: bottom;
}

.AlignLeft {
  text-align: left;
  vertical-align: middle;
}

.AlignTopLeft {
  text-align: left;
  vertical-align: top;
}

.AlignCenter {
  text-align: center;
  vertical-align: middle;
}

.RuntimeTest {
  overflow: auto !important; // stylelint-disable-line declaration-no-important
  width: 1024px;

  .Content {
    width: 1024px;
  }
}
