// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-commons/Io/Oidis/Commons/Math.d";

@mixin setRotation($value) {
  $cosTheta: Math.cos($value);
  $sinTheta: Math.sin($value);
  $value: ($value / ($value * 0 + 1)) * 1deg;

  /* stylelint-disable property-no-vendor-prefix,order/properties-order,@stylistic/string-quotes */
  -moz-transform: rotate(-#{$value});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=#{$cosTheta},M12=-#{$sinTheta},M21=#{$sinTheta},M22=#{$cosTheta},SizingMethod='auto expand')";
  -o-transform: rotate(-#{$value});
  -webkit-transform: rotate(-#{$value});
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=#{$cosTheta}, M12=-#{$sinTheta}, M21=#{$sinTheta}, M22=#{$cosTheta}, sizingMethod='auto expand');
  transform: rotate(-#{$value});
  /* stylelint-enable */
}
