// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

@mixin setTextSelectionColor($font, $background) {
  &::selection {
    color: $font;
    background: $background;
  }

  &::-moz-selection { // stylelint-disable-line selector-no-vendor-prefix
    color: $font;
    background: $background;
  }
}
