// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "ColorMap.d";

.ViewHtmlCode {
  overflow: auto;

  pre {
    float: left;
  }

  .Line {
    min-height: 16px;
    padding-top: 2px;
    color: ColorMap.$IO_OIDIS_BLACK;

    .Number {
      padding-right: 30px;
      color: ColorMap.$IO_OIDIS_GRAY;
    }
  }

  .Even {
    background-color: ColorMap.$IO_OIDIS_WHITE;
  }

  .Odd {
    background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT;
  }

  .Tag {
    color: ColorMap.$IO_OIDIS_PING_GENERAL;
  }

  .Attribute {
    font-weight: bold;
    color: ColorMap.$IO_OIDIS_BLACK;
  }

  .String {
    font-weight: normal;
    color: ColorMap.$IO_OIDIS_BLUE_GENERAL;
  }

  .TagContent {
    color: ColorMap.$IO_OIDIS_GREEN_GENERAL;
  }

  .Script {
    color: ColorMap.$IO_OIDIS_ORANGE_GENERAL;
  }
}
